<h1><%= @user.first_name %></h1> 

<p> 
  <li> User's email : <%= @user.email %> 
  <li> User's age : <%= @user.age %>
  <li> User's description : <%= @user.description %>
  <li> user's city : <%= @user.city.name %>

  
</p>